*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.home{
    height: 100vh;
    width: 100%;
    background-color: #DDE6ED;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #526D82;
    border-bottom: 1px solid black;
}
.logo{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: yellow;
    transition: 0.5s;
}
.image {
    width: 50%;
    height: 90%;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 8%;
}

.image img{
    height: auto;
    width: 430px;
    position: absolute;
    left: 1%;
    border-radius: 10px;
}
.content{
    position: absolute;
    top: 35%;
    left: 55%;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    
}
h1{
    color: black;
    font-size: 65px;
    margin: 20px 0 20px;
}
h3{
    color: grey;
    font-size: 25px ;
    font-weight: bolder;
    
}
.about{
    width: 100%;
    padding: 100px 0;
    background-color: #DDE6ED;
}
.about-me{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me img{
    height: auto;
    width: 430px;
    border-radius: 10px;
}
.about-text{
    width: 550px;
}
.about-text h2{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.about-text h5{
    color: black;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 25 px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
.identity {
    text-align: center;
    margin-bottom: 40px;
}
.identity h1 {
    font-size: 36px;
}
.identity p {
    font-size: 18px;
    color: #777;
}
.skills {
    background-color: #f5f5f5;
    padding: 40px;
}
.skills h2{
    margin-bottom: 20px;
}
.skill-border {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 40px;
    border-radius: 10px;
}
.skill {
    margin-bottom: 20px;
    
}
.skill h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
}
.skill-level-1 {
    background-color: #526D82;
    color: #fff;
    height: 100%;
    border-radius: 10px;
    text-align: right;
    padding: 5px;
    width: 85%; 
}
.skill-level-2 {
    background-color: #526D82;
    color: #fff;
    height: 100%;
    border-radius: 10px;
    text-align: right;
    padding: 5px;
    width: 70%; 
}
.skill-level-3 {
    background-color: #526D82;
    color: #fff;
    height: 100%;
    border-radius: 10px;
    text-align: right;
    padding: 5px;
    width: 80%; 
}
.blog{
    width: 100%;
}
.blog .blog-row{
    width: 80%;
    margin: auto;
}
.blog .blog-row .blog-header{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog .blog-row .blog-header h1{
    padding-top: 30px;
    font-size: 45px;
    color: black;
}
.blog .blog-row .blog-header p{
    margin: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}

.content-blog{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto;
}
.content-blog .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: whitesmoke;
    border-radius: 10px;
}   
.content-blog .card img{
    width: 100%;
    height: auto ;
}
.content-blog .card h4{
    margin-top: 10px;
    margin-left: 10px ;
    font-size: 18px;
    color: black;
    
}
.content-blog .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}